# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.agents
.claude
.junie
.trae
skills-lock.json
.idea
images

# Logs
logs/

# Assets templates (用户提供的截图)
#assets/templates/**/*.png
!assets/templates/.gitkeep
